<app-goback-button/>
<main class="logIn-container">
  <div class="logo_complete-container">
    <img class="logo_image" src="logo_image.png" alt="logo_image">
    <img class="logo_name" src="logo_name.png" alt="logo_name">
  </div>
  <form class="form">
    <h1 class="form-title">Iniciar Sesión</h1>
    <p class="text-body">Inicia sesión ahora y accede a nuestra aplicación.</p>
    <div class="inputs-container">
      <label>
        <input class="input inputemail" type="email" placeholder="" required="">
        <span>Email</span>
      </label>
      <label>
        <input class="input" type="password" placeholder="" required="">
        <span>Contraseña</span>
      </label>
    </div>
    <div class="another-container">
      <div class="check-item">
        <label class="check">
          <input type="checkbox">
          <div class="checkmark"></div>
        </label>
        <p class="text-body">Recuérdame</p>
      </div>
      <a class="link forget" [routerLink]="'/forgot-password'">Olvide mi contraseña</a>
    </div>
    <button class="submit" [routerLink]="'/roles'">Acceder</button>
    <p class="text-body">
      No tienes una cuenta aún ? <a class="link" [routerLink]="'/register'">Registrarse</a>
    </p>
  </form>
</main>
