<app-side-bar/>
<app-goback-button/>
<main class="mechanic-vehicle">
  <div class="titles-container">
      <!-- aca se usa un service para saber los datos -->
    <h1 class="title">Toyota Corolla</h1>
    <h2 class="subtitle">Alvaro Diaz</h2>
  </div>
  <div class="options-container">
      <app-history-button/>
      <app-add-reparation-button/>
  </div>
  <div class="vehicle-container">
    <img class="vehicle-image" src="https://i.postimg.cc/9XKV2dzJ/toyota-corolla.png" alt="">
    <div class="platform"></div>
  </div>
</main>
