<nav class="side-bar">
  <ul class="options">
    <li class="option"><button class="profile-button" [routerLink]="'/mechanic-profile'"><img src="profile_icon.png" alt="profile_icon"></button></li>
    <li class="option"><button class="home-button" [routerLink]="'/mechanic-home'"><img src="home_icon.png" alt="home_icon"></button></li>
    <li class="option"><button class="sended-button" [routerLink]="'/mechanic-sended'"><img src="recomendation-sended_icon.png" alt="recomendation-sended_icon"></button></li>
    <li class="option"><button class="requests-button" [routerLink]="'/mechanic-requests'"><img src="request_icon.png" alt="request_icon"></button></li>
    <li class="option"><button class="inventory-button" [routerLink]="'/mechanic-inventory'"><img src="inventory_icon.png" alt="inventory_icon"></button></li>
  </ul>
  <div class="config-option">
    <button class="config-button"><img src="config_icon.png" alt="config_icon"></button>
  </div>
</nav>
