<app-goback-button/>
<main class="forget-container">
  <div class="logo_complete-container">
    <img class="logo_image" src="logo_image.png" alt="logo_image">
    <img class="logo_name" src="logo_name.png" alt="logo_name">
  </div>
  <form class="form">
    <h1 class="form-title">Reestablecer Contraseña</h1>
    <div class="inputs-container">
      <label>
        <input class="input" type="password" placeholder="" required="">
        <span>Nueva contraseña</span>
      </label>
      <label>
        <input class="input" type="password" placeholder="" required="">
        <span>Confirmar nueva contraseña</span>
      </label>
    </div>
    <app-classic-button [routerLink]="'/login'">Cambiar Contraseña</app-classic-button>
  </form>
</main>
