/*Necesario para alinear*/
body{
  margin: 0;
  background-color: #080210 ;
  height: 100vh;
  width: 100vw;
}

body,main,button,div,span,img,label,p,a,input{
  box-sizing: border-box;
}

.forget-container{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}


/*Logo completo*/
.logo_complete-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 300px;
  max-width: 500px;
}

.logo_image{
  width: 60%;
}
.logo_name{
  width: 80%;
}

/* FORMULARIO CAMBIAR CONTRA*/

/*definicion de orden */
.form {
  font-family: "Roboto",sans-serif;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  max-width: 350px;
  padding: 10px 20px;
  border-radius: 30px;
  position: relative;
  background-color: #fff;
  color: #080210;
  z-index: 0;
  line-height: 19px;
}

.form::after{
  background: inherit;
  position: absolute;
  content: '';
  filter: blur(25px) saturate(1.5);
  width: 93%;
  height: 97%;
  scale: 1;
  z-index: -1;
}

.form-title {
  font-family: "Montserrat", sans-serif;
  font-size: 42px;
  font-weight: 700;
  position: relative;
  display: flex;
  justify-content: center;
  margin: 20px 0;
  text-align: center;
  line-height: 50px;
}

/*Los primeros inputs(cajas)*/
.inputs-container{
  display: flex;
  flex-direction: column;
  gap:10px;
  margin: 5px 0;
}

.form label {
  position: relative;
}

.form label .input {
  background-color: #F3BAFF;
  color: #fff;
  width: 100%;
  padding: 20px 0 05px 10px;
  outline: 0;
  border: 0;
  border-radius: 10px;
}

.form label .input + span {
  color: #747474;
  position: absolute;
  left: 10px;
  top: 10px;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
  top: 12.5px;
  font-size: 14px;
}

.form label .input:focus + span,.form label .input:valid + span {
  color: #DD22EB;
  top: 3px;
  font-size: 11px;
  font-weight: 600;
}

.input {
  font-size:16px;
}
