<app-goback-button/>
<form class="form">
  <h1 class="form-title">{{ 'auth.resetPassword' | translate }}</h1>
  <div class="inputs-container">
    <label>
      <input class="input" type="password" placeholder="" required="">
      <span>{{ 'auth.newPassword' | translate }}</span>
    </label>
    <label>
      <input class="input" type="password" placeholder="" required="">
      <span>{{ 'auth.confirmNewPassword' | translate }}</span>
    </label>
  </div>
  <app-classic-button [routerLink]="'/authentication/login'">{{ 'auth.changePassword' | translate }}</app-classic-button>
</form>
