<main class="pagenotfound-main">
  <div class="truck-container">
    <div class="truck-body">
      <img class="truck_image" src="/img/truck-image.png" alt="truck_image">
      <button class="signIn-button" [routerLink]="'/authentication'">
        <div class="icon-container">
          <img class="signIn_icon" src="/img/login-icon.png" alt="singin_icon">
        </div>
        <p class="button-text">Entrada</p>
      </button>
      <div class="error-container">
        <h2 class="error-title">ERROR</h2>
        <h1 class="error-number">404</h1>
        <p class="error-text">¡Ups! No se pudo encontrar la página que solicitaste.</p>
      </div>
    </div>
    <div class="tires-container">
      <img class="tire" src="/img/tire-image.png" alt="tire_image">
      <img class="tire" src="/img/tire-image.png" alt="tire">
    </div>
    <img class="lampost" src="/img/lampost-image.png" alt="lampost_image">
    <div class="road"></div>
  </div>
</main>
