<div class="model-cards-container">
  <div *ngFor="let model of models" class="model-card">
    <mat-card class="card">
      <div class="card-header">
        <h3 class="body-title">{{ model.Model_Name }}</h3>
        <!-- ACA IRIA EL NOMBRE DEL CLIENTE -->
        <p class="body-text">ID: {{ model.Model_ID }}</p>
      </div>
      <mat-card-content class="card-content">
        <!-- Imagen del vehículo -->
        <img mat-card-image
             [src]="'https://dummyimage.com/300x200/cccccc/000000&text=Toyota+' + model.Model_Name"
             alt="{{ model.Model_Name }}">

        <p class="body-text">Marca: {{ model.Make_Name }}</p>

        <!-- Enlace a búsqueda en Google Imágenes -->
        <a class="link" [href]="'https://www.google.com/search?tbm=isch&q=Toyota+' + model.Model_Name">
          Ver imágenes en Google
        </a>

      </mat-card-content>
      <mat-card-actions class="card-actions">
        <app-classic-button [routerLink]="'/mechanic-vehicle'">Ver Vehiculo</app-classic-button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
