.driver-requests-sent {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 75px;
}

.title{
  font-family: "Montserrat", sans-serif;
  font-size: 42px;
  font-weight: 700;
  line-height: 50px;
  color: #080210;
  display: flex;
  justify-content: center;
}
