<div class="request-cards-container">
  <p class="empty-message" *ngIf="requests.length === 0">
    No has recibido ninguna solicitud de asignación
  </p>
  <div *ngFor="let request of requests" class="request-card">
    <mat-card class="card">
      <mat-card-content class="card-content">
        <img class="letter" src="/img/letter-image.png" alt="">
        <h3 class="body-title">Vehiculo: {{ request.vehicle }}</h3>
        <p class="body-text">Conductor: {{ request.driver }}</p>
      </mat-card-content>
      <mat-card-actions class="card-actions">
        <app-classic-button (click)="viewRequest(request.id)">Ver Request</app-classic-button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
