<app-goback-button />
<main class="driver-vehicle" *ngIf="vehicle">
  <div class="titles-container">
    <h2 class="subtitle">{{ vehicle.make }} {{ vehicle.model }} {{ vehicle.year }}</h2>
    <h2 class="subtitle">Placa: {{ vehicle.plate }}</h2>
    <h2 class="subtitle">Mechanic: {{mechanicName}}</h2>
  </div>
  <div class="vehicle-section">
    <div class="options-container">
      <app-history-button/>
    <app-add-request-button [routerLink]="'/driver-page/send-request'"/>
    </div>
    <div class="vehicle-container">
      <img class="vehicle-image" [src]="getVehicleImageUrl()" alt="imagen del vehículo">
      <div class="platform"></div>
    </div>
    <app-maintenances-list/>
  </div>
</main>
