.stack {
  width: 150px;
  transition: 0.25s ease;
}

.stack:hover {
  transform: rotate(3deg);
}

.stack:hover .paper:before {
  transform: translateY(-14%) translateX(12%);
}

.stack:hover .paper:after {
  transform: translateY(-8%) translateX(5%);
}

.paper {
  aspect-ratio: 1 / 1.414;
  border: 4px solid #080210;
  background-color: #fff;
  position: relative;
  transition: 0.15s ease;
  cursor: pointer;
  padding: 75px 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #080210;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.paper:before,
.paper:after {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  border: 4px solid #080210;
  background-color: #fff;
  transform-origin: center center;
  z-index: -1;
  transition: 0.15s ease;
  top: 0;
  left: 0;
}

.paper:before {
  transform: translateY(-6%) translateX(6%);
}

.paper:after {
  transform: translateY(-4%) translateX(2%);
}

.button-text{
  font-family: "Montserrat", sans-serif;
  font-weight:500;
  font-size: 16px;
  line-height: 21px;
  margin: 0;
}
