<app-goback-button/>
<app-language-switcher/>
<main class="terms-container">
  <h1 class="terms-title">{{ 'terms.title' | translate }}</h1>
  <p class="text-body">{{ 'terms.lastUpdate' | translate }}: 06 de mayo de 2025</p>

  <h2 class="title-body">1. {{ 'terms.acceptance' | translate }}</h2>
  <p class="text-body">{{ 'terms.acceptanceText' | translate }}</p>

  <h2 class="title-body">2. {{ 'terms.serviceDescription' | translate }}</h2>
  <p class="text-body">{{ 'terms.serviceText' | translate }}</p>

  <h2 class="title-body">3. {{ 'terms.userAccounts' | translate }}</h2>
  <p class="text-body">{{ 'terms.userAccountsText' | translate }}</p>

  <h2 class="title-body">4. {{ 'terms.acceptableUse' | translate }}</h2>
  <p class="text-body">{{ 'terms.acceptableUseText' | translate }}</p>

  <h2 class="title-body">5. {{ 'terms.intellectualProperty' | translate }}</h2>
  <p class="text-body">{{ 'terms.intellectualPropertyText' | translate }}</p>

  <h2 class="title-body">6. {{ 'terms.limitationOfLiability' | translate }}</h2>
  <p class="text-body">{{ 'terms.limitationOfLiabilityText' | translate }}</p>

  <h2 class="title-body">7. {{ 'terms.modifications' | translate }}</h2>
  <p class="text-body">{{ 'terms.modificationsText' | translate }}</p>

  <h2 class="title-body">8. {{ 'terms.contact' | translate }}</h2>
  <p class="text-body">{{ 'terms.contactText' | translate }}: <a class="link">soporte autonexo.com</a>.</p>
</main>
