<app-goback-button/>
<main class="signIn-container">
  <div class="logo_complete-container">
    <img class="logo_image" src="logo_image.png" alt="logo_image">
    <img class="logo_name" src="logo_name.png" alt="logo_name">
  </div>
  <form class="form">
    <h1 class="form-title">Registrarse</h1>
    <p class="text-body">Registrate y obtén acceso a nuestra aplicación.</p>
    <div class="inputs-container">
      <div class="double-input">
        <label>
          <input class="input" type="text" placeholder="" required="">
          <span>Nombres</span>
        </label>
        <label>
          <input class="input" type="text" placeholder="" required="">
          <span>Apellidos</span>
        </label>
      </div>
      <label>
        <input class="input" type="text" placeholder="" required="">
        <span>Telefono</span>
      </label>
      <label>
        <input class="input inputemail" type="email" placeholder="" required="">
        <span>Email</span>
      </label>
      <label>
        <input class="input" type="password" placeholder="" required="">
        <span>Contraseña</span>
      </label>
      <label>
        <input class="input" type="password" placeholder="" required="">
        <span>Confirmar contraseña</span>
      </label>
    </div>
    <div class="another-container">
      <label class="check">
        <input type="checkbox">
        <div class="checkmark"></div>
      </label>
      <p class="text-body">Acepto los
        <a class="link" [routerLink]="'/terms-conditions'">términos y condiciones</a>
      </p>
    </div>
    <app-classic-button [routerLink]="'/login'">Registrarse</app-classic-button>
    <p class="text-body">
      Ya tienes una cuenta ? <a class="link" [routerLink]="'/login'">Iniciar Sesión</a>
    </p>
  </form>
</main>
