<app-goback-button/>
<main class="send-request">
  <h1 class="title">Send Request</h1>
  <form class="form" [formGroup]="form" (ngSubmit)="sendRequest()">
    <h2 class="form-title">Maintenance Info</h2>
    <div class="inputs-container">
      <label>
        <input class="input" type="text" placeholder="" required formControlName="title">
        <span>Maintenance title</span>
      </label>
      <label>
        <input class="input" type="text" placeholder="" required formControlName="description">
        <span>Maintenance description</span>
      </label>
      <label>
        <input class="input" type="text" placeholder="" formControlName="budget">
        <span>¿Cual es el presupuesto?</span>
      </label>
    </div>
    <app-classic-button [disabled]="form.invalid">Send</app-classic-button>
  </form>
</main>
