.send-request{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 75px;
}
.title{
  font-family: "Montserrat", sans-serif;
  font-size: 42px;
  font-weight: 700;
  line-height: 50px;
  color: #080210;
  display: flex;
  justify-content: center;
}

/*definicion de orden */
.form {
  font-family: Roboto,sans-serif;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  max-width: 350px;
  padding: 15px 20px;
  border-radius: 30px;
  position: relative;
  background-color: #fff;
  color: #080210;
  z-index: 0;
  line-height: 19px;
  gap: 10px;
}

.form::after{
  background: inherit;
  position: absolute;
  content: '';
  filter: blur(25px) saturate(1.5);
  width: 93%;
  height: 97%;
  scale: 1;
  z-index: -1;
}

.form-title {
  font-family: "Montserrat", sans-serif;
  font-size: 42px;
  font-weight: 700;
  position: relative;
  display: flex;
  justify-content: center;
  margin: 20px 0;
  text-align: center;
  line-height: 50px;
}

/*Los primeros inputs(cajas)*/
.inputs-container{
  display: flex;
  flex-direction: column;
  gap:10px;
  margin: 5px 0;
}

.form label {
  position: relative;
}

.form label .input {
  background-color: #F3BAFF;
  color: #fff;
  width: 100%;
  padding: 20px 0 05px 10px;
  outline: 0;
  border: 0;
  border-radius: 10px;
}

.form label .input + span {
  color: #747474;
  position: absolute;
  left: 10px;
  top: 10px;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
  top: 12.5px;
  font-size: 14px;
}

.form label .input:focus + span,.form label .input:valid + span {
  color: #DD22EB;
  top: 3px;
  font-size: 11px;
  font-weight: 600;
}

.input {
  font-size:16px;
}
