<button class="signOut-button" [routerLink]="'/entry-point'" >
  <div class="icon-container">
    <img class="signOut_icon" src="signout_icon.png" alt="signout_icon">
  </div>
  <p class="button-text">Salir</p>
</button>
<main class="main-container">
  <div class="logo_complete-container">
    <img class="logo_image" src="logo_image.png" alt="logo_image">
    <img class="logo_name" src="logo_name.png" alt="logo_name">
  </div>
  <p class="subtitle_italic-body">¿Cúal es su rol?</p>
  <div class="buttons-container">
    <a class="main-button driver" >Acceder como Conductor</a>
    <a class="main-button mecanic" [routerLink]="'/mechanic-home'">Acceder como Mecánico</a>
  </div>
</main>
